<% Item.kinds.each_slice(2) do |pair_of_kinds| %>
    <div class="two-wide">
      <% pair_of_kinds.each do |kind| %>
          <div class="kind <%= kind.name.underscore.downcase %>">
            <div class="block header">
              <h2 class="title"><%= kind.name.pluralize.titleize %></h2>
              <%= link_to new_standup_item_path(@standup, post_id: @post.try(:id), 'item[kind]' => kind.name), 'data-kind' => kind.name do %>
                  <i class="icon-plus-sign"></i>
              <% end %>
            </div>
            <%= render partial: "items/#{kind.name.underscore.downcase.pluralize}", locals: {items: Array(items[kind.name])} %>
          </div>
      <% end %>
    </div>
<% end %>
